name: Checks
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  nix-checks:
    strategy:
      matrix:
        include:
          - system: x86_64-linux
            runner: ubuntu-latest
          - system: aarch64-linux
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Build with nix-fast-build
        run: nix run --inputs-from . nixpkgs#nix-fast-build -- --skip-cached --no-nom --systems "${{ matrix.system }}"
